template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: 'TagSense — AI-Powered Retroactive Resource Tagging (SAM)'

Globals:
  Function:
    Runtime: python3.12
    Architectures: [x86_64]
    Environment:
      Variables:
        RESULTS_BUCKET: !Ref ResultsBucket
        RESULTS_PREFIX: tagsense
        BEDROCK_MODEL_ID: !Ref BedrockModelId
        SNS_TOPIC_ARN: !If [HasEmail, !Ref NotificationTopic, '']

Parameters:
  BedrockModelId:
    Type: String
    Default: 'us.anthropic.claude-haiku-4-5-20251001-v1:0'
  NotificationEmail:
    Type: String
    Default: ''

Conditions:
  HasEmail: !Not [!Equals [!Ref NotificationEmail, '']]

Resources:

  ResultsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub 'tagsense-results-${AWS::AccountId}'
      LifecycleConfiguration:
        Rules:
          - Id: Expire
            Status: Enabled
            ExpirationInDays: 90

  NotificationTopic:
    Type: AWS::SNS::Topic
    Condition: HasEmail

  NotificationSub:
    Type: AWS::SNS::Subscription
    Condition: HasEmail
    Properties:
      TopicArn: !Ref NotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  # --- Shared IAM ---
  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub 'TagSenseLambdaRole-${AWS::StackName}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal: {Service: lambda.amazonaws.com}
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: TagSense
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - tag:GetResources
                  - tag:TagResources
                  - cloudformation:DescribeStacks
                  - cloudformation:DescribeStackResources
                  - cloudtrail:LookupEvents
                  - ec2:DescribeInstances
                  - ec2:DescribeVpcs
                  - ec2:DescribeSubnets
                  - ec2:DescribeSecurityGroups
                  - cloudwatch:GetMetricData
                Resource: '*'
              - Effect: Allow
                Action:
                  - bedrock:InvokeModel
                  - bedrock:CreateModelInvocationJob
                  - bedrock:GetModelInvocationJob
                Resource: '*'
              - Effect: Allow
                Action: [s3:PutObject, s3:GetObject, s3:ListBucket]
                Resource:
                  - !Sub '${ResultsBucket.Arn}'
                  - !Sub '${ResultsBucket.Arn}/*'
              - Effect: Allow
                Action: sns:Publish
                Resource: '*'
              - Effect: Allow
                Action: iam:PassRole
                Resource: !GetAtt BedrockBatchRole.Arn

  BedrockBatchRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub 'TagSenseBedrockBatch-${AWS::StackName}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal: {Service: bedrock.amazonaws.com}
            Action: sts:AssumeRole
      Policies:
        - PolicyName: BedrockBatch
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: bedrock:InvokeModel
                Resource: '*'
              - Effect: Allow
                Action: [s3:GetObject, s3:PutObject, s3:ListBucket]
                Resource:
                  - !Sub '${ResultsBucket.Arn}'
                  - !Sub '${ResultsBucket.Arn}/*'

  # --- Lambda Functions ---
  DiscoveryFn:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-discovery'
      CodeUri: functions/discovery/
      Handler: app.handler
      Role: !GetAtt LambdaRole.Arn
      Timeout: 300
      MemorySize: 512

  InferenceWorkerFn:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-inference-worker'
      CodeUri: functions/inference_worker/
      Handler: app.handler
      Role: !GetAtt LambdaRole.Arn
      Timeout: 120
      MemorySize: 512

  AggregatorFn:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-aggregator'
      CodeUri: functions/aggregator/
      Handler: app.handler
      Role: !GetAtt LambdaRole.Arn
      Timeout: 300
      MemorySize: 512

  BedrockBatchFn:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-bedrock-batch'
      CodeUri: functions/bedrock_batch/
      Handler: app.handler
      Role: !GetAtt LambdaRole.Arn
      Timeout: 60
      MemorySize: 256

  BedrockPollerFn:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-bedrock-poller'
      CodeUri: functions/bedrock_poller/
      Handler: app.handler
      Role: !GetAtt LambdaRole.Arn
      Timeout: 300
      MemorySize: 512

  ReportFn:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-report'
      CodeUri: functions/report/
      Handler: app.handler
      Role: !GetAtt LambdaRole.Arn
      Timeout: 120
      MemorySize: 256

  ApplyFn:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-apply'
      CodeUri: functions/apply/
      Handler: app.handler
      Role: !GetAtt LambdaRole.Arn
      Timeout: 300
      MemorySize: 256

  EnforceFn:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-enforce'
      CodeUri: functions/enforce/
      Handler: app.handler
      Role: !GetAtt LambdaRole.Arn
      Timeout: 60
      MemorySize: 256

  # --- Step Functions ---
  StateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub '${AWS::StackName}-pipeline'
      Role: !GetAtt SfnRole.Arn
      Definition:
        Comment: 'TagSense — Distributed Map + Bedrock Batch'
        StartAt: Discovery
        States:
          Discovery:
            Type: Task
            Resource: !GetAtt DiscoveryFn.Arn
            ResultPath: $.discovery
            Next: HasGaps
          HasGaps:
            Type: Choice
            Choices:
              - Variable: $.discovery.non_compliant_count
                NumericGreaterThan: 0
                Next: InferTiers123
            Default: Done
          InferTiers123:
            Type: Map
            ItemProcessor:
              ProcessorConfig: {Mode: DISTRIBUTED, ExecutionType: STANDARD}
              StartAt: ProcessBatch
              States:
                ProcessBatch:
                  Type: Task
                  Resource: !GetAtt InferenceWorkerFn.Arn
                  End: true
            ItemReader:
              Resource: arn:aws:states:::s3:getObject
              ReaderConfig: {InputType: JSONL, MaxItems: 10000}
              Parameters:
                Bucket.$: $.discovery.items_s3.Bucket
                Key.$: $.discovery.items_s3.Key
            ItemBatcher: {MaxItemsPerBatch: 20}
            MaxConcurrency: 40
            ToleratedFailurePercentage: 5
            ResultWriter:
              Resource: arn:aws:states:::s3:putObject
              Parameters:
                Bucket: !Ref ResultsBucket
                Prefix.$: "States.Format('tagsense/{}/map_output', $.discovery.run_id)"
            ResultPath: $.map_result
            Next: Aggregate
          Aggregate:
            Type: Task
            Resource: !GetAtt AggregatorFn.Arn
            Parameters:
              run_id.$: $.discovery.run_id
              region.$: $.discovery.region
            ResultPath: $.aggregation
            Next: CheckBedrockNeeded
          CheckBedrockNeeded:
            Type: Choice
            Choices:
              - Variable: $.aggregation.needs_bedrock
                NumericGreaterThan: 0
                Next: SubmitBedrockBatch
            Default: SkipBedrock
          SubmitBedrockBatch:
            Type: Task
            Resource: !GetAtt BedrockBatchFn.Arn
            Parameters:
              run_id.$: $.discovery.run_id
              region.$: $.discovery.region
              bedrock_role_arn: !GetAtt BedrockBatchRole.Arn
            ResultPath: $.bedrock
            Next: WaitForBedrock
          WaitForBedrock:
            Type: Wait
            Seconds: 60
            Next: PollBedrock
          PollBedrock:
            Type: Task
            Resource: !GetAtt BedrockPollerFn.Arn
            Parameters:
              run_id.$: $.discovery.run_id
              region.$: $.discovery.region
              batch_job_arn.$: $.bedrock.batch_job_arn
            ResultPath: $.poll
            Next: IsBatchDone
          IsBatchDone:
            Type: Choice
            Choices:
              - Variable: $.poll.status
                StringEquals: Completed
                Next: Report
            Default: WaitForBedrock
          SkipBedrock:
            Type: Task
            Resource: !GetAtt BedrockBatchFn.Arn
            Parameters:
              run_id.$: $.discovery.run_id
              region.$: $.discovery.region
              bedrock_role_arn: !GetAtt BedrockBatchRole.Arn
            ResultPath: $.bedrock
            Next: Report
          Report:
            Type: Task
            Resource: !GetAtt ReportFn.Arn
            Parameters:
              run_id.$: $.discovery.run_id
              region.$: $.discovery.region
            ResultPath: $.report
            Next: Enforce
          Enforce:
            Type: Task
            Resource: !GetAtt EnforceFn.Arn
            Parameters:
              run_id.$: $.discovery.run_id
              region.$: $.discovery.region
            ResultPath: $.enforcement
            End: true
          Done:
            Type: Succeed

  SfnRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub 'TagSenseSfn-${AWS::StackName}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal: {Service: states.amazonaws.com}
            Action: sts:AssumeRole
      Policies:
        - PolicyName: TagSenseSfn
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt DiscoveryFn.Arn
                  - !GetAtt InferenceWorkerFn.Arn
                  - !GetAtt AggregatorFn.Arn
                  - !GetAtt BedrockBatchFn.Arn
                  - !GetAtt BedrockPollerFn.Arn
                  - !GetAtt ReportFn.Arn
                  - !GetAtt ApplyFn.Arn
                  - !GetAtt EnforceFn.Arn
              - Effect: Allow
                Action: [s3:GetObject, s3:PutObject, s3:ListBucket]
                Resource:
                  - !Sub '${ResultsBucket.Arn}'
                  - !Sub '${ResultsBucket.Arn}/*'
              - Effect: Allow
                Action: [states:StartExecution, states:DescribeExecution, states:StopExecution]
                Resource: '*'

Outputs:
  StateMachineArn:
    Value: !Ref StateMachine
  ResultsBucket:
    Value: !Ref ResultsBucket
  ApplyFnArn:
    Value: !GetAtt ApplyFn.Arn
